aiohttp==3.12.15
firebase-admin
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
httpx
# dnspython
python-socketio
quart
quart_cors
uvicorn
# validate-email-address
# py3dns