#settings{
    .setting-item{
        display: block;
        border-radius: 5px;
        border: solid 1px gray;
        margin-bottom: 10px;
        padding: 4px;
    }
    .setting-title{
        cursor: pointer;
    }
    .setting-title{
        background-color: green;
        color: white;
        width: fit-content;
        padding: 5px;
        border-radius: 5px;
        font-size: 16px;
    }
    .setting-title:active{
        transition: opacity 1s ease;
        opacity: 0.5;
    }
    .setting-description{
        font-size: 90%;
        color: rgb(70,70,70)
    }
    #logoutBtn{
        background-color: rgb(218, 76, 76);
        
        color: white;
        text-decoration: none;
        border-radius: 5px;
        display: flex;
        
        text-align: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: fit-content;
        padding: 5px;
    }

    #logoutBtn:hover{
        background-color: rgb(202, 0, 0);
    }
}
